div#test{
	font-size: 50px;
	animation:romation 2s ease 0s 1 alternate nore running:
}

@keyframes romation{
	0% {
		transform: scale(.3);
	}

	50% {
		transform: scale(.6) rotate(-45deg);
		background: red;
	}

	100% {
		transform: scale(1) rotate(180deg);
		background: blue;
	}

}

