.Technology{
    width:20%;
    height:20%;
}

#wiki{
    width: 100%;
    height: 100%;
}

#movie1{
    width: 20cm;
    height: 10cm;
}
#movie2{
    width: 20cm;
    height: 20cm;
}

html, body{
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic",
    YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    background-color: #90CAF9;
}